.cart-container {
  position: relative;
}

.cart-icon-wrapper {
  position: relative;
  cursor: pointer;
}

.cart-badge {
  position: absolute;
  top: -8px;
  right: -8px;
  background: red;
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
}

.cart-dropdown {
  position: absolute;
  right: 0;
  top: 36px; /* ajusta conforme seu header */
  width: 350px; /* largura do dropdown */
  max-height: 300px; /* altura máxima antes de ativar scroll */
  background: white;
  border: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 15px;
  z-index: 100;
  overflow-y: auto; /* ativa scroll vertical */
  overflow-x: hidden; /* evita scroll horizontal */
  border-radius: 8px;
}


.cart-dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cart-dropdown li {
  margin-bottom: 5px;
  border-bottom: 2px solid #d6f3ff;
}
.cart-item-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.cart-item-info div {
  display: flex;
  align-items: center;
  font-weight: 600;
}
.cart-dropdown li strong {
  display: block;
}
.cart-dropdown li:last-child {
  margin-bottom: 0;
}
.cart-item-image {
  width: 40px;
  height: 40px;
  border: 1px solid #ddd;
  object-fit: cover;
  margin-right: 10px;
  vertical-align: middle;
}
.cart-total {
  margin-top: 10px;
  font-weight: bold;
  text-align: right;
}
.cart-checkout-button {
  width: 100%;
  padding: 8px;
  background: #28a745;
  color: white;
  border: none;
  cursor: pointer;
  text-align: center;
}
.cart-checkout-button:hover {
  background: #218838;
}

.remove-item-btn {
  margin-left: 10px;
  padding: 2px 6px;
  border: none;
  cursor: pointer;
  background-color: white;
}

@media (max-width: 600px) {
  .cart-dropdown {
    width: 100vw;
    right: -62px;
    top: 49px;
  }
}