.profile-container {
  max-width: 480px;
  margin: 2rem auto;
  padding: 2rem;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.profile-container h2 {
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  font-weight: bold;
  color: #222;
}

.profile-photo {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-photo label {
  cursor: pointer;
  display: inline-block;
}

.profile-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #1d4d36;
}

.profile-photo p {
  margin-top: 0.5rem;
  font-size: 0.95rem;
  color: #333;
}

.input-group {
  text-align: left;
  margin-bottom: 1rem;
}

.input-group label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.3rem;
}

.input-group input {
  width: 100%;
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}

.profile-form button {
  width: 100%;
  padding: 0.8rem;
  background-color: #16a34a;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.profile-form button:hover {
  background-color: #15803d
}

@media (max-width: 600px) {
  .title-edit {
    font-size: 1rem;
  }
}