.content-product {
  background: #fff;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
  border: 1px solid #bbb;
  padding: 1rem;
  max-width: 280px;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.content-product:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.12);
}

.content-product-info {
  text-align: center;
  width: 100%;
}

.content-product-info h3 {
  font-size: 1.1rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 0.5rem;
}

.content-product-info img {
  width: 100%; /* controla o tamanho da imagem */
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 0.5rem;
  transition: transform 0.3s ease;
}

.content-product:hover img {
  transform: scale(1.05);
}

.label-stock {
  font-weight: 500;
  text-align: left;
  color: #555;
  margin-bottom: 0.5rem;
  display: block;
}

.content-product-actions {
  display: flex;
  justify-content: space-between;
  align-items: inherit;
  width: 100%;
  margin-top: 0.8rem;
}

.content-product-actions span {
  font-weight: bold;
  font-size: 1rem;
  display: block;
}

.btn-add-cart {
  background-color: #28a745;
  height: 30px;
  width: 34px;
  color: white;
  border: none;
  padding: 0.4rem 0.8rem;
  margin-top: 0.6rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-add-cart {
  background: green;
  color: white;
}

.btn-edit {
  background-color: white;
  height: 32px;
  width: 32px;
}

.btn-delete {
  background-color: white;
  margin-left: 0.5rem;
}
.btn-add-cart:hover {
  background-color: #218838;
}

.price-container {
  display: flex;
  flex-direction: column;
}

.old-price {
  text-decoration: line-through;
  color: #d32f2f;
;
  font-size: 0.9rem;
}

.sale-price {
  font-weight: bold;
  font-size: 1.1rem;
}

.normal-price {
  color: #333;
  font-weight: bold;
}
