.edit-container-page {
  width: 500px;
  margin: 7rem auto 2rem;
  padding: 1.5rem;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.edit-container-page h2 {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1.5rem;
  color: #16a34a;
}

.edit-container-page button {
  background-color: #1e88e5;
  font-weight: 600;
  color: #fff;
  border: none;
  padding: 0.8rem 1.2rem;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.edit-container-page button:hover {
  background-color: #1565c0;
}

.product-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.product-form label {
  font-weight: 600;
  color: #333;
}

.product-form input,
.product-form select {
  padding: 0.8rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s ease;
}

.product-form input:focus,
.product-form select:focus {
  border-color: #aa76ba;
  outline: 2px solid #e7d9ec;
}

.file-label {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #444;
  background-color: #f5f5f5;
  border: 2px dashed #aaa;
  border-radius: 8px;
  width: 100%;
  height: 200px;
  font-size: 2rem;
  cursor: pointer;
  transition: 0.3s;
  overflow: hidden;
}

.file-label span {
  font-size: 1.8rem;
}

.file-label:hover span {
  color: #aa76ba;
  transition: 0.25s ease;
}
.file-preview {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

@media (max-width: 600px) {
  .edit-container-page {
    width: 90vw;
    margin: 5rem auto 1rem;
    padding: 1rem;
  }
}