.container-page {
  width: 500px;
  margin: 100px auto 2rem;
  background: #fff;
  border-radius: 12px;
  padding: 25px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #e2e8f0;
}
.top-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4rem auto 0;
}

.container-page h2 {
  text-align: center;
  color: #a375ca;
  margin-bottom: 20px;
  font-size: 1.8rem;
}

.product-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-form label {
  font-weight: 600;
  color: #333;
}
.product-form label:hover span {
  color: #aa76ba;
  transition: 0.3s;
}

.product-form input {
  padding: 0.7rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.switch {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  cursor: pointer;
  margin: 10px 0;
}

.switch input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* O botão de alternância */
.slider {
  position: relative;
  width: 46px;
  height: 24px;
  background-color: #ccc;
  border-radius: 24px;
  transition: background-color 0.3s;
}

.slider::before {
  content: "";
  position: absolute;
  height: 18px;
  width: 18px;
  left: 3px;
  top: 3px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s;
}

/* Quando ativado */
.switch input:checked + .slider {
  background-color: #4fc3f7;
}

.switch input:checked + .slider::before {
  transform: translateX(22px);
}

.switch-text {
  font-size: 15px;
  color: #333;
  user-select: none;
}

@media (hover: hover) and (pointer: fine) {
  /* Só aplica em dispositivos com mouse (PCs, notebooks) */
  .product-form input:hover {
    border-color: #aa76ba;
  }
}

.product-form input:focus {
  border-color: #aa76ba;
  outline: none;
  box-shadow: 0 0 0 2px rgb(117 22 163 / 20%);
}

.file-upload {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.file-label {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #444;
  background-color: #f5f5f5;
  border: 2px dashed #aaa;
  border-radius: 8px;
  width: 100%;
  height: 140px;
  font-size: 2rem;
  cursor: pointer;
  transition: 0.3s;
  overflow: hidden;
}

.file-label:hover {
  background-color: #e6e6e6;
  border-color: #aa76ba;
  color: #16a34a;
}

.product-form select {
  padding: 0.7rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.product-form select:focus {
  border-color: #aa76ba;
  outline: none;
  box-shadow: 0 0 0 2px rgb(117 22 163 / 20%);
}
.product-form select:hover {
  border-color: #aa76ba;
}

.file-preview {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-form button {
  background-color: #16a34a;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.product-form button:hover {
  background-color: #15803d;
}


.search {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 2rem auto 1rem;
  width: 90%;
  max-width: 800px;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.search select {
  padding: 10px;
  font-size: 1rem;
  font-weight: 500;
  border: 1px solid #ddd;
  border-radius: 10px;
  outline: none;
  transition: all 0.2s ease;
  background-color: #fafafa;
  color: #333;
  cursor: pointer;
}

.search input {
  padding: 10px 10px 10px 38px;
  font-size: 1rem;
  font-weight: 500;
  border: 1px solid #ddd;
  border-radius: 10px;
  outline: none;
  transition: all 0.2s ease;
  background-color: #fafafa;
  color: #333;
  cursor: text;
  width: 100%;
}



@media (max-width: 600px) {
  .container-page {
    padding: 20px;
    width: 90vw;
  }
  .container-page h2 {
    font-size: 1.6rem;
  }
}